<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext-core.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
<!-- 	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener> -->
	<servlet>
		<servlet-name>XFireServlet</servlet-name>
		<servlet-class>org.codehaus.xfire.spring.XFireSpringServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>provision</servlet-name>
		<servlet-class>com.changyuan.misc.action.ProvisionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>provision</servlet-name>
		<url-pattern>/servlets/provision</url-pattern>
	</servlet-mapping>

	<!-- 错误、欢迎页等 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
</web-app>
<!-- <context-param> <param-name>contextConfigLocation</param-name> <param-value> 
	classpath:spring/applicationContext*.xml classpath:org/codehaus/xfire/spring/xfire.xml</param-value> 
	</context-param> <context-param> <param-name>log4jConfigLocation</param-name> 
	<param-value>classpath:log4j.properties</param-value> </context-param> <listener> 
	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> 
	</listener> <listener> <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
	</listener> <listener> <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class> 
	</listener> <servlet> <servlet-name>xfire</servlet-name> <servlet-class>org.codehaus.xfire.spring.XFireSpringServlet</servlet-class> 
	</servlet> <servlet-mapping> <servlet-name>xfire</servlet-name> <url-pattern>/services/*</url-pattern> 
	</servlet-mapping> <servlet> <servlet-name>provision</servlet-name> <servlet-class>com.changyuan.misc.action.ProvisionServlet</servlet-class> 
	</servlet> <servlet-mapping> <servlet-name>provision</servlet-name> <url-pattern>/servlets/provision</url-pattern> 
	</servlet-mapping> <welcome-file-list> <welcome-file>index.jsp</welcome-file> 
	</welcome-file-list> <error-page> <error-code>404</error-code> <location>/404.jsp</location> 
	</error-page> <error-page> <error-code>503</error-code> <location>/500.jsp</location> 
	</error-page> <error-page> <error-code>500</error-code> <location>/500.jsp</location> 
	</error-page> -->
