<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>mas3_admin</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml<!--,
            classpath:application-security.xml-->
        </param-value>
    </context-param>
    <!-- 
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
     -->	
    <listener>
		<listener-class>com.leadtone.mas.admin.listener.CustomContextLoaderListener</listener-class>
	</listener>
    <!--<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <filter>
        <filter-name>privilegeFilter</filter-name>
        <filter-class>com.leadtone.mas.admin.filter.PrivilegeFilter</filter-class>        
    </filter>    
    <filter-mapping>
        <filter-name>privilegeFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>privilegeFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DBInit</servlet-name> 
        <servlet-class>com.leadtone.mas.admin.smssend.web.InitDBServlet</servlet-class> 
        <load-on-startup>2</load-on-startup> 
    </servlet>
    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <!-- 文件下载servlet开始 -->
    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>com.leadtone.mas.admin.common.servlet.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/fileDownload</url-pattern>
    </servlet-mapping>
    <!-- 文件下载servlet结束 -->
    <!-- 管理/业务系统WebService开始 -->
    <servlet>
        <servlet-name>MgrService</servlet-name>
        <servlet-class>com.leadtone.mas.admin.webservice.MgrWebServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MgrService</servlet-name>
        <url-pattern>/mgrservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlugService</servlet-name>
        <servlet-class>com.leadtone.mas.bizplug.webservice.PlugWebServiceServlet</servlet-class>
        <load-on-startup>2</load-on-startup> 
    </servlet>
    <servlet-mapping>
        <servlet-name>PlugService</servlet-name>
        <url-pattern>/plugservice</url-pattern>
    </servlet-mapping>
    <!-- 管理/业务系统WebService结束 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
        <init-param>
            <param-name>actionPackages</param-name>
            <param-value>com.leadtone.mas</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.tld</url-pattern>
    </filter-mapping>
    
    <!-- 字符编码过滤器 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>
            com.leadtone.mas.admin.filter.EncodingFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>smslogin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
