<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- ========================= RESOURCE DEFINITIONS ========================= -->
	<!-- Configurer that replaces ${...} placeholders with values from a properties file -->
	<!-- (in this case, JDBC-related settings for the dataSource definition below)	-->
	<!--
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="jdbc.properties" />
	</bean>
	-->
	<!-- Local DataSource that works in any environment -->
	<!-- Note that DriverManagerDataSource does not pool; it is not intended for production -->
	<!-- See JPetStore for an example of using Commons DBCP BasicDataSource as alternative -->
	<!-- See Image Database for an example of using C3P0 ComboPooledDataSource as alternative -->
	<!--  -->
	<!-- 数据源配置:开始-->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.5.42:3306/mbn3?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="root"/>
		<property name="password" value="canada" />
		<property name="maxActive" value="20" />
		<property name="maxIdle" value="2" />
		<property name="maxWait" value="5000" />
		<property name="defaultAutoCommit" value="true" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="30" />
		<property name="logAbandoned" value="false" />
		<property name="validationQuery" value="show tables" />
	</bean>
	<bean id="nativeJdbcExtractor"
		class="org.springframework.jdbc.support.nativejdbc.CommonsDbcpNativeJdbcExtractor"
		lazy-init="true" />
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate" lazy-init="true">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="nativeJdbcExtractor">
			<ref local="nativeJdbcExtractor" />
		</property>
	</bean>
	<!-- 数据源配置:结束 -->

	<!-- JDBC 用于自动注入 -->
	<bean id="simpleJdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
		<constructor-arg ref="jdbcTemplate" />
	</bean>

	<bean id="BaseDao" class="empp2.dao.BaseDao">
		<property name="_jt">
			<ref local="jdbcTemplate"></ref>
		</property>
		<property name="simpleJdbcTemplate">
			<ref local="simpleJdbcTemplate"></ref>
		</property>
	</bean>
	<!-- 事务配置 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	<bean id="smsEmppSubmitDao" class="empp2.dao.SmsEmppSubmitDao">
		<property name="_jt" ref="jdbcTemplate">
		</property>
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
	</bean>
</beans>